// This file is used to ignore files and directories in the repository
// For more information about the .gitignore file, see https://git-scm.com/docs/gitignore
# Environments
.venv

# mypy
_py_cache_


